.input-todo{
    padding: 10px;
    margin-right: 10px;
}

.btn-add {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
}
