h1,
h2,
p,
li,
ul,
img {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;

    .main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;

        .header {
            position: sticky;
            top: 0;
            z-index: 10;
            background: gray;
            padding: 2px;
            width: 100%;
            img {
                height: 20px;
                padding: 10px;
            }
        }

        .content {
            flex: 1;
            position: relative;
            overflow: auto;

            .virtualContainer {
                padding: 10px;
              }

            .canvas {
                position: fixed;
                top: 60px;
                left: 6px;
                background-color: white;
                pointer-events: none;
            }
        }

        .footer {
            position: sticky;
            bottom: 0;
            z-index: 10;
            background-color: gray;
            padding: 2px;
            width: 100%;
            img {
                height: 20px;
                padding: 10px;
            }
        }
    }
}
