* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;

    .main {
        width: 100vw;
        height: 100vh;
        overflow: scroll;

        .canvas {
            display: grid;
        }
    }
}
